<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boarder.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,0},{480,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{480,32}</string>
			</dict>
			<key>shop_background.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{960,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{960,720}</string>
			</dict>
			<key>shop_btn_info_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,926},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>shop_btn_info_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,972},{44,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>shop_cell_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{294,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{294,210}</string>
			</dict>
			<key>shop_continue_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,810},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_continue_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,480},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>shop_diamond_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,720},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_diamond_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,604},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>shop_heart_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,768},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_heart_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,810},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>shop_item_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,878},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_item_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,934},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>shop_label_discount.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,209},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>shop_line_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,0},{108,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,16}</string>
			</dict>
			<key>shop_line_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,0},{102,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,14}</string>
			</dict>
			<key>shop_line_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,102},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>shop_line_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,108},{101,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,14}</string>
			</dict>
			<key>shop_mark_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,720},{88,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,90}</string>
			</dict>
			<key>shop_mark_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,810},{88,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,90}</string>
			</dict>
			<key>shop_mark_promotion.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,900},{88,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,90}</string>
			</dict>
			<key>shop_mark_temp.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,720},{87,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ItemsDetailsUI.png</string>
			<key>realTextureFileName</key>
			<string>ItemsDetailsUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>