<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,188},{43,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,63}</string>
			</dict>
			<key>fan.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,0},{96,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,64}</string>
			</dict>
			<key>game_btn_back_game_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,93},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>game_btn_back_game_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,187},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>game_btn_pause_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,204},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>game_btn_pause_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,214},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>game_btn_quit_game_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,62},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>game_btn_quit_game_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>game_btn_restart_game_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,64},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>game_btn_restart_game_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,138},{72,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,76}</string>
			</dict>
			<key>game_panel_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,93},{180,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,44}</string>
			</dict>
			<key>game_pause_panel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{206,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,188}</string>
			</dict>
			<key>general_back9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>general_btn_music_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,201},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>general_btn_music_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,48},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>general_btn_sound_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,48},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>general_btn_sound_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,76},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>general_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,185},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>help.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,208},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>net.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,137},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>owl_doctor.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,140},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>shop_diamond_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,137},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_diamond_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>shop_item_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,0},{110,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,48}</string>
			</dict>
			<key>shop_item_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,0},{124,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,62}</string>
			</dict>
			<key>small_heart.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,232},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>
			<key>times_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,120},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>wand.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,148},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>worm.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{158,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,208}</string>
			</dict>
			<key>backbtnnormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,251},{128,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>
			<key>backbtnpressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,338},{128,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,96}</string>
			</dict>
			<key>game_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,208},{128,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,24}</string>
			</dict>
			<key>peach.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{96,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainSceneGadgets.png</string>
			<key>realTextureFileName</key>
			<string>MainSceneGadgets.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>