<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>owl_2-owl_hair_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,100},{145,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,79}}</string>
        <key>sourceSize</key>
        <string>{145,79}</string>
      </dict>
      <key>owl_2-owl_eye_closed.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{51,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,19}}</string>
        <key>sourceSize</key>
        <string>{51,19}</string>
      </dict>
      <key>owl_2-owl_eye_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,148},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>owl_2-owl_nose_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,175},{29,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,34}}</string>
        <key>sourceSize</key>
        <string>{29,34}</string>
      </dict>
      <key>owl_2-owl_left_wing_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{134,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,146}}</string>
        <key>sourceSize</key>
        <string>{134,146}</string>
      </dict>
      <key>owl_2-owl_right_wing_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,100},{32,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,85}}</string>
        <key>sourceSize</key>
        <string>{32,85}</string>
      </dict>
      <key>owl_2-owl_face_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{165,98}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,98}}</string>
        <key>sourceSize</key>
        <string>{165,98}</string>
      </dict>
      <key>owl_2-owl_foot_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,148},{73,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,52}}</string>
        <key>sourceSize</key>
        <string>{73,52}</string>
      </dict>
      <key>owl_2-owl_body_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{185,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{185,173}}</string>
        <key>sourceSize</key>
        <string>{185,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>owl_2.png</string>
      <key>textureFileName</key>
      <string>owl_2.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>