<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>parts-heart.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{94,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{94,93}}</string>
    <key>sourceSize</key>
    <string>{94,93}</string>
   </dict>
   <key>parts-dot_state3.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,0},{116,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,35}}</string>
    <key>sourceSize</key>
    <string>{116,35}</string>
   </dict>
   <key>parts-dot_state2.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,37},{106,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,35}}</string>
    <key>sourceSize</key>
    <string>{106,35}</string>
   </dict>
   <key>parts-dot_state1.png</key>
   <dict>
    <key>frame</key>
    <string>{{96,74},{106,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,35}}</string>
    <key>sourceSize</key>
    <string>{106,35}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>heart_ani.png</string>
   <key>textureFileName</key>
   <string>heart_ani.png</string>
   <key>size</key>
   <string>{256,128}</string>
  </dict>
 </dict>
</plist>