<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>owl_1-both_eyes_closed.png</key>
   <dict>
    <key>frame</key>
    <string>{{311,0},{120,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,15}}</string>
    <key>sourceSize</key>
    <string>{120,15}</string>
   </dict>
   <key>owl_1-both_eyes_open.png</key>
   <dict>
    <key>frame</key>
    <string>{{200,0},{109,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,53}}</string>
    <key>sourceSize</key>
    <string>{109,53}</string>
   </dict>
   <key>owl_1-owl_most.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{198,326}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{198,326}}</string>
    <key>sourceSize</key>
    <string>{198,326}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>owl_1.png</string>
   <key>textureFileName</key>
   <string>owl_1.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>